IOT_HARDWARE_MODE=mock
IOT_DRY_VALUE=22000
IOT_WET_VALUE=9000
IOT_SHT31_ADDRESS=0x44
IOT_ADS1115_ADDRESS=0x48
IOT_LED_PIN=17
IOT_RELAY_PIN=27
IOT_RELAY_ACTIVE_HIGH=true
IOT_DEFAULT_PUMP_SECONDS=3
IOT_MAX_PUMP_SECONDS=5
IOT_API_KEY=replace-with-a-long-random-value
IOT_ENABLE_DOCS=false
